h1 {
font-family: Unicorn;
font-size: 60px;
}

h2 {
font-family: Unicorn;
font-size: 45px;
}

h3 {
font-family: Cursiva;
font-size: 35px;
}

p {
font-family: Calibri;
font-size: 20px;
}

@font-face {
font-family: Unicorn;
src: url('./fonts/unicorn.otf');
}
@font-face {
font-family: Calibri;
src: url('./fonts/calibri.ttf');
}
@font-face {
font-family: Cursiva;
src: url('./fonts/cursiva.otf');
}