@font-face {
   font-family: 'unicorn';
   font-display: swap;
   src: url('unicorn/font.ttf');
}
@font-face {
   font-family: 'cursiva';
   font-display: swap;
   src: url('cursiva/font.ttf');
}
@font-face {
   font-family: 'calibri';
   font-display: swap;
   src: url('calibri/font.ttf');
}
