@font-face {
   font-family: 'cursiva';
   font-display: swap;
   src: url('file:///C:/Users/Ricardo/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-04-15_230721/fonts/cursiva/font.ttf');
}
